.mt-1{margin-top:0.5rem;}
.mt-2{margin-top:0.75rem;}
.mt-3{margin-top:1rem;}
.mt-4{margin-top:1.5rem;}
.mt-5{margin-top:1.75rem;}
.categoria{
    padding:10px;
}
table { 
	width: 100%; 
	border-collapse: collapse; 	
}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #cccccc; 
	color: #222; 
	font-weight: bold; 
}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
}

td button{
    padding:12px 16px;
    border:0;
    border-radius:4px;
    background-color: cornflowerblue;
    color: #fff;
    margin-right: 15px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    cursor:pointer;
}

td .excluir{
    background-color: tomato;
}